<div class="degrade">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner banner">
        <div class="carousel-item active">
            <video id="myVideo" disablepictureinpicture  class="d-block w-100 imgn" type="video/mp4" autoplay muted="true" loop>
                <source src="../../../assets/videos/Mi video 2.mp4#t=1">
            </video>
            <!-- <img src="../../../assets/imgs/carousel1.jpg" class="d-block w-100 imgn" alt="...">-->
        </div>
    </div>
</div>
</div>