.example-card {
    max-width: 40%;
    font-family: 'Montserrat', sans-serif;
    background: url(https://t3.ftcdn.net/jpg/02/77/70/76/360_F_277707648_pyTsUs0e09l7mlDyTolbU4egFoEu5S5k.jpg);
    background-size: cover
    /*background: url(https://media.istockphoto.com/photos/old-blank-ripped-torn-paper-crumpled-creased-colorful-posters-grunge-picture-id1223054068?b=1&k=20&m=1223054068&s=170667a&w=0&h=c3Ckxe765kxTebtO9NYaAxjd6CuYML-J6oV8L-5CdF8=);
    */
}

.example-card img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.0);
}

.example-card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);
}


/*.example-card:hover{
    filter: blur(1.5rem);
}*/