<div class="container-fluid">
    <div class="row">
        <div *ngFor="let coleccion of colecciones" class="col-md-3 col-6">
            <mat-card class=" card glass mt-2 mb-3">
                <img mat-card-image src="{{coleccion.img}}" alt="Foto de la coleccion">
                <mat-card-content>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>-->
                <mat-card-header class="text-center">
                    <mat-card-title class="titulo"><h2>{{coleccion.nombre}}</h2></mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>    
</div>
<p-carousel [value]="colecciones" [numVisible]="4" [numScroll]="1" [autoplayInterval]="3000" [circular]="true">
    <ng-template let-coleccion pTemplate="item">
        <div>
            <mat-card class=" card glass mt-2 mb-3">
                <img mat-card-image src="{{coleccion.img}}" alt="Foto de la coleccion">
                <mat-card-content>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>-->
                <mat-card-header class="text-center">
                    <mat-card-title class="titulo"><h2>{{coleccion.nombre}}</h2></mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>    </ng-template>
</p-carousel>
