.example-header-image {
    background-size: cover;
}
.card{
    background: none;
    border: none;
    box-shadow: none;
}

.titulo {
    color: var(--bs-texto);
    font-size: 1rem;
}
.mat-card-header{
    justify-content: center;
}
.card img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.0);
}

.card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);
}.p-carousel-indicators{
    visibility: collapse;
}
