.example-header-image {
    background-size: cover;
}
/*.glass {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 10px;
}*/
.card{
    background: none;
    border: none;
    box-shadow: none;
}

.titulo {
    color: var(--bs-texto);
    font-size: 1rem;
}
.mat-card-header{
    justify-content: center;
}
.card img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.0);
}

.card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);
}