<div class="container-fluid">
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.date">
                <img *ngIf="event.image" [src]="'../../../assets/imgs/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                <h5>{{event.info}}</h5>
            </p-card>
        </ng-template>
    </p-timeline>
</div>