.navbar {
    background: none!important;
    font-size: 1.1rem;
}

.fixed-top {
    position: fixed!important;
}

.btn {
    color: var(--bs-texto);
}

.mat-drawer-transition .mat-drawer-backdrop {
    position: fixed;
}