.navbar {
    background: none;
    font-size: 1.1rem;
    transition: 0.5s;
}
.nav-link{
    color: var(--bs-texto);

}

.btn {
    color: var(--bs-texto);
}

.mat-drawer-transition .mat-drawer-backdrop {
    position: fixed;
}

.abajo {
    background: var(--bs-boton);
    transition: 0.5s;
}