<!--
<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close('escape')" disableClose>
        <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
        <p><button mat-button>Acerca De</button></p>
    </mat-sidenav>

    <div class="navbar navbar-dark fixed-top">
        <button class="btn ms-2" mat-icon-button (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
        <a class=" ms-auto" href="">
            <img src="../../../assets/imgs/logoblanco-sinfondo.png" width="70rem" alt="">
        </a>
        <button class="ms-auto btn" mat-icon-button>
                            <mat-icon>favorite</mat-icon>
        </button>
        <button class="btn" mat-icon-button> 
                            <mat-icon>search</mat-icon>
        </button>
    </div>
</mat-sidenav-container>
-->
<nav id="menu" class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="">
            <img id="logo" src="../../../assets/imgs/logoblanco-sinfondo.png " width="60rem " alt="logotipo">
        </a>
        <button id="menuHamburguesa" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="menuActivado()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink=""><i class="pi pi-home" style="font-size: 1.2rem"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#collections"><i class="pi pi-compass" style="font-size: 1.2rem"></i> Colecciones</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="about"><i class="pi pi-book" style="font-size: 1.2rem"></i> Historia</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link"> <i class="pi pi-user" style="font-size: 1.2rem"></i> Iniciar Sesion
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>