.example-container {
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sidenav{
    position: fixed;
}
mat-sidenav-container {
    background: none;
}

.fixed-top {
    position: fixed!important;
}

.btn {
    color: white;
}

.mat-drawer-transition .mat-drawer-backdrop{
    position: fixed;
}