<div class="container-fluid">
    <div class="row flex-md-row-reverse about">
        <div class="col-md-4 col-sm-12 texto-banner mt-3">
            <h1 class="ms-auto me-auto">Nuestra historia</h1>
            <p class="text-center">La encantadora Binn, pueblo situado en el cantón del Valais, a orillas del Ródano, destaca, entre otros, por su iglesia parroquial de San Miguel (de 1560) y el puente de piedra del Binna.</p>
            <section class="action">
                <a href="" class="btn m-2">descubrir mas</a>
            </section>
        </div>
        <div class="col-md-8 col-sm-12 about-img">
            <img class=" w-100" src="https://i.pinimg.com/originals/bb/39/5a/bb395ad795aa79f8d977968adcb37a8f.png" alt="">
        </div>
    </div>
</div>