.row{
    background-color: var(--bs-principal);
}
.parallax-1{
    background-image: url(../../../assets/imgs/pueblo.png);
    background-size: cover;

}
.parallax-2{
    background-image: url(../../../assets/imgs/edificio-actual.jpg);
    background-size: cover;
}
.parallax{
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
}
.timeline{
    background-color: var(--bs-texto);
}