.row{
    background-color: var(--bs-principal);
}
.parallax-1{
    background-image: url(https://i.pinimg.com/originals/bb/39/5a/bb395ad795aa79f8d977968adcb37a8f.png);
    background-size: cover;

}
.parallax-2{
    background-image: url(../../../assets/imgs/edificio-actual.jpg);
    background-size: cover;
}
.parallax{
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
}