<div class="container-fluid">
    <div class="row flex-md-row-reverse banner">
        <div class=" col-md-8 col-sm-12 ">
            <app-carousel></app-carousel>
        </div>
        <div class="col-md-4 col-sm-12 texto-banner">
            <h1 class="ms-auto me-auto">La mejor forma de controlar tu tiempo</h1>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corrupti optio iure suscipit est, non, rerum, praesentium amet repudiandae cupiditate facilis quo fugit fuga! Excepturi porro in nihil dolore fuga.</p>
            <section class="action">
                <button class="btn btn-primary ms-2" type="button">Leer Mas</button>
            </section>
        </div>
    </div>
</div>