<div class="container-fluid">
    <div class="row flex-md-row-reverse banner">
        <div class=" col-md-8 col-sm-12 ">
            <app-carousel></app-carousel>
        </div>
        <div class="col-md-4 col-sm-12 texto-banner">
            <h1 class="h1 ms-auto me-auto">{{titulo}}</h1>
            <h2 class="h2 text-center">{{subtitulo}}</h2>
            <p class="h5 text-center">{{informacion}}</p>
            <section class="action">
                <button class="btn btn-primary ms-2" type="button">Leer Mas</button>
            </section>
        </div>
    </div>
</div>