<div class="container-fluid banner-coleccion ">
    <div class="background-info">
        <div class="row">
            <div class ="col-12">
                <img class="img-fluid img-coleccion mx-auto d-block pt-5 mt-4" src='../../../assets/imgs/{{colecciones[indice].imgReloj}}' alt="imagen de la coleccion">
            </div>
        </div>
        <div class="row ">
            <h1 class="h1">{{colecciones[indice].nombre}}</h1>
            <div class="col-12  mt-4">
                <p class="info-coleccion h5 text-center">{{colecciones[indice].descripcion}} 
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit nostrum corrupti fugit aut cupiditate quod quasi officia cum! Ex delectus, dolorum quas excepturi odio magni quae corrupti, obcaecati consectetur debitis adipisci odit iusto eos rem officia exercitationem velit rerum nesciunt ipsam assumenda possimus cupiditate earum eaque? Repellendus, iure veritatis!
                </p>
                <p class="info-coleccion h5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis cupiditate cumque recusandae aperiam quo nesciunt illo provident repellat! Aut, illum omnis! Illo veritatis dicta debitis quidem. Quae nemo nostrum rem eius assumenda animi voluptates facilis commodi ad ipsa? Quas, blanditiis.</p>
                <p class="info-coleccion h5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis cupiditate cumque recusandae aperiam quo nesciunt illo provident repellat! Aut, illum omnis! Illo veritatis dicta debitis quidem. Quae nemo nostrum rem eius assumenda animi voluptates facilis commodi ad ipsa? Quas, blanditiis.</p>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="../../../assets/imgs/moderno1.png" alt="">
            </div>
            <div class="col-4">
                <img  class="img-fluid" src="../../../assets/imgs/moderno2.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="../../../assets/imgs/moderno3.webp" alt="">
            </div>
            <!--https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/reloj-amazfit-gtr-3-runners-world-1641199124.jpg-->
        </div>
    </div>
    
</div>
<div class="container-fluid">
   
    <div class="row">
        <h1 class="h1">Los Relojes</h1>
    </div>
</div>
