<div class="container-fluid" id="Historia">
    <div class="row flex-md-row-reverse about">
        <div class="col-md-4 col-sm-12 texto-banner mt-3">
            <h1 class="h1 ms-auto me-auto">{{titulo}}</h1>
            <p class="h5 text-center">{{informacion}}</p>
            <section class="action">
                <a routerLink="about" class="btn m-2">descubrir mas</a>
            </section>
        </div>
        <div class="col-md-8 col-sm-12 about-img">
            <img class=" w-100" src="../../../assets/imgs/pueblo.png" alt="Imagen del pueblo">
        </div>
    </div>
</div>