<div id="collections" class="container-fluid">
    <h1>Colecciones</h1>
    <div class="container sesgo">
        <div class="row">
            <div class="col-md-3 col-6">
                <app-card-coleccion></app-card-coleccion>
            </div>
            <div class="col-md-3 col-6">
                <app-card-coleccion></app-card-coleccion>
            </div>
            <div class="col-md-3 col-6">
                <app-card-coleccion></app-card-coleccion>
            </div>
            <div class="col-md-3 col-6">
                <app-card-coleccion></app-card-coleccion>
            </div>
        </div>
    </div>

</div>