<div class="container-fluid mt-3">
    <h1>Colecciones</h1>
    <div class="row">
        <div class="col-md-3 col-6 mb-2">
            <app-card-coleccion></app-card-coleccion>
        </div>
        <div class="col-md-3 col-6 mb-2">
            <app-card-coleccion></app-card-coleccion>
        </div>
        <div class="col-md-3 col-6 mb-2">
            <app-card-coleccion></app-card-coleccion>
        </div>
        <div class="col-md-3 col-6 mb-2">
            <app-card-coleccion></app-card-coleccion>
        </div>
    </div>
</div>
