.container-fluid {
    padding-top: 3rem;
    /*clip-path: polygon(0 6%, 100% 0, 100% 94%, 1% 100%);*/
    color: var(--bs-texto);
    text-align: center;
    background:no-repeat;
    background-size: cover;
    background-color: var(--bs-principal);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.sesgo-abajo {
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 20vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}*/