/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Krona One', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fffffe;
    color: #fffffe;
}

h1 {
    font-size: xx-large!important;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital@1&display=swap');