/* You can add global styles to this file, and also import other style files */


/*ng serve --host 0.0.0.0*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital@1&display=swap');
:root {
    --bs-principal: #000;
    --bs-texto: #fffffe;
    --bs-boton: #7f5af0;
}

* {
    font-family: 'Krona One', sans-serif!important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--bs-texto);
    color: var(--bs-texto);
}

h1 {
    font-size: xx-large!important;
    text-align: center;
}

.btn {
    background-color: var(--bs-boton);
    color: var(--bs-texto);
}